:root{
  --width-square: 34px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

  display: flex;
  justify-content: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: #8797a5;
}

.status button {
  margin-left: 0.5rem;
  width: 100px;
  height: 25px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: var(--width-square);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--width-square);

  cursor: pointer;
}

button{
  cursor: pointer;
}

ol button {
  width: 300px;
  height: 25px;
  margin: 2px;
  border-radius: 2px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--width-square) * 3);
  flex-wrap: wrap;
}
